.rodape {
    display: none;
}

@media screen and (min-width: 1024px) { 
    .rodape {
        display: block;
        padding-bottom: 2em;
    }

    .direitos {
        display: flex;
        justify-content: end;
        margin: 1.2em 1.5em 1.5em 0;
    }

    .socials {
        display: flex;
        justify-content: space-evenly;
    }

    .socios {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .socials_nossas {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
        
    }

    .parceiros {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .socials_parceiros {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .socials_link:hover{
        color: var(--second-color);
    }

    .o {
        font-size: 14px;
    }
}